<h2>Delete your task</h2>
<p>You're about to delete "<%= @task.name %>"</p>
<!-- refactor with _show partial view -->
<p>Are you sure?</p>

<!-- IDK what do to here (google) -->
<p>You're on the #confirm_destroy page!</p>
