<h2>Delete your task</h2>
<p>Task: "<%= @task.name %>"</p>
<!-- refactor with _show partial view -->

<!-- IDK what do to here (google) -->

<%= form_with model: @task do |f| %>
  <p>Are you sure you want to delete this task?</p>
  <%= f.submit "Yes, Delete", class: "yes-delete-button" %>
  <%= f.submit "Whoops, Don't Delete", class: "no-delete-button" %>
<% end %>

<p>You're on the #confirm_destroy page!</p>
