<section class="task-view">
  <h2>Edit Your Task!</h2>

  <%= render partial: "form",
      locals: {message: nil,
               url: update_task_path,
               method: :patch,
               form_class: "edit-task-form",
               button_title: 'Apply Changes',
               name_placeholder: @task.name,
               description_placeholder: @task.description,
              } %>

  <p><%= link_to "Nevermind", task_path, class: "nav-link" %></p>
</section>
