<h2>Edit Your Task!</h2>

<%= render partial: "form",
    locals: {message: nil,
             button_title: 'Apply Changes',
             name_placeholder: "#{@task.name}",
             description_placeholder: "#{@task.description}",
            } %>

<p>You're on the #edit page!</p>
