<h2>Create A New Task!</h2>
<%= render partial: "form",
    locals: {message: @message,
             name_placeholder: nil,
             description_placeholder: nil,
            } %>




<p>You're on the #new page!</p>
