<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>
<!-- Can I get this to show the task list number? -->

  <h2>Task name: <%= @task.name %></h2>
  <p>Description: <%= @task.description %></p>
  <% unless @task.completion_date.nil? %>
    <p>Completed on: <%= @task.completion_date.strftime("%a %b %d, %Y") %></p>
  <% end %>
  <p><%= link_to "Edit Task", edit_task_path %></p>
<% end %>

<p>You're on the #show page!</p>
