// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task-view {
  grid-column-start: 2;
  grid-row-start: 3;
  margin: 0;
  padding: 20px;
  background-color: silver;
  display: flex;
  flex-direction: column;
}

.create-task-bar {
  display: none;
  margin: 0;
  padding: 0;
}

.each-task {
  margin: 0;
  padding: 0;
}

.each-task > * {
  list-style-type: none;
}
